/*Firebox treats <input> and <textarea> as 'inline' elems by default;*/
/*use 'inline-block' instead, as per Chrome/Safari/others*/
input, textarea {
  display: inline-block;
}


/*use 'border-box' for box sizing*/
/*set the font*/
html {
  box-sizing: border-box;
  font: normal 21px Helvetica, Arial, sans-serif;
}
*, *::before, *::after {
  box-sizing: inherit;
}

/*reset all margins and padding*/
* {
  margin: 0;
  padding: 0;
}
