/*use 'border-box' for box sizing*/
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}


/*reset all margins and padding*/
* {
  margin: 0;
  padding: 0;
}


/*set the font; set the text and b/g colours*/
html {
  font: normal 21px Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
}


/*container used to center the <section>*/
body {
  display: flex;
  justify-content: center;
}

/*section is a columnar container*/
section {
  /*use padding on the container, instead of margin on the container items;*/
  /*all container items are the same width*/
  padding: 0 1rem;

  min-width: 600px;
  max-width: 1000px;
  background-color: #2f2f2f; /*darkgray*/
  /*align-self: flex-start; no visible effect*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  margin: 2.2rem 0 1rem;
}

img {
  width: 100%; /*of the <figure> container*/
}

/*place the border on the img, in order to place the caption outside the border*/
figure img {
  border: 0.75rem solid white;
}

figcaption {
  display: block;
  padding-top: 5px;
  font-size: 0.8rem;
}

nav {
  margin: 1.4rem 0 2.1rem;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*select every list item except the 1st one*/
li + li {
  margin-left: 30px;
}

/*thumbnail images*/
li img {
  border: 4px solid white;
}

/* could use links for the thumbnail images
a {
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
}

a:focus,
a:hover {
  ...
}
*/
