@import url("space_design_files.css");

p {
  padding-bottom: 125px;
}

section ul {
  list-style-type: none;
  padding-bottom: 210px;
}

section ul li {
  display: inline-block;
  padding: 0 28px 0;
}

figure {
  display: block;
}

figure img {
  height: 150px;
  width: 140px;
}

figcaption {
  padding-top: 20px;
  font-size: 24px;
  font-weight: 800;
  color: #3e59b2; /*blue*/
}
