/*use 'border-box' for box sizing*/
html {
  box-sizing: border-box;
  font-size: 28px; /*root font size*/
}
*, *::before, *::after {
  box-sizing: inherit;
}


/*
use Franklin Gothic Heavy for the main heading,
and Helvetica Black and Helvetica for the remaining fonts
*/

/*
* {
outline: 1px solid red;
}
*/

body {
  width: 684px;
  height: 1342px;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  border: 2px solid black;
}


/*headings*/
h1, h3, h5 {
  margin: 0;
}

h3, h5 {
  font-size: 1.0rem;
  padding: 5px 0;
}

h1 {
  font-size: 2.8rem;
  font-family: "Franklin Gothic Heavy", /*Arial,*/ sans-serif;
}

h3 {
  margin-top: 5px;
  border-top: 20px solid black;
}

h5 {
  text-align: right;
  border-top: 10px solid black;
  border-bottom: 1px solid grey;
}


/*unordered lists*/
ul {
  list-style-type: none; /*no bullets*/
  margin: 0;
  padding-left: 0; /*no indentation*/
}

li {
  margin: 0;
  font-size: 1.2rem;
}

ul:last-of-type {
  list-style-type: "*";
  margin: 10px 0;
  padding-left: 10px;
}

ul:last-of-type li {
  padding-left: 10px;
  font-size: 0.95rem;
}


/*descriptive lists*/
dl {
  margin: 0;
}

dt {
  display: inline;
  /*background-color: lightblue;*/
  font-weight: bold;
}

td:nth-of-type(1) dl dd {
  margin-left: 0.2rem;
}

dd {
  display: inline;
  margin-left: 0;
  /*background-color: lightgreen;*/
}


/*tables*/
table {
  width: 100%;
}

table:nth-of-type(1) {
  border-top: 1px solid gray;
  border-bottom: 5px solid black;
}

table:nth-of-type(3),
table:nth-of-type(7) {
  margin-left: 5%;
  width: 95%;
  border-collapse: collapse;
}

table:nth-of-type(2),
table:nth-of-type(3) td,
table:nth-of-type(7) tr:last-of-type td {
  border-top: 1px solid gray;
}

table:nth-of-type(3) tr:last-of-type td,
table:nth-of-type(4),
table:nth-of-type(5),
table:nth-of-type(6),
table:nth-of-type(7) tr:last-of-type td,
table:nth-of-type(9) td,
table:last-of-type thead th {
  border-bottom: 1px solid gray;
}

table:nth-of-type(8) {
  border-bottom: 20px solid black;
}

td {
  font-size: 1.2rem;
}

td:nth-of-type(2) {
  text-align: right;
}

table:last-of-type {
  padding: 5px 0;
  border-collapse: collapse;
}

table:last-of-type th,
table:last-of-type td {
  text-align: left;
  font-size: 0.95rem;
  font-weight: normal;
}

table:last-of-type thead tr th,
table:last-of-type td {
  padding-left: 0.8rem;
}

/*could use a class as the selector here:*/
table:last-of-type tbody tr:nth-of-type(2) th,
table:last-of-type tbody tr:last-of-type th {
  text-indent: 30px;
}
