/*Firebox treats <input> and <textarea> as 'inline' elems by default;*/
/*use 'inline-block' instead, as per Chrome/Safari/others*/
input, textarea {
  display: inline-block;
}


/*use 'border-box' for box sizing*/
html {
  box-sizing: border-box;
  font-size: 28px;
}
*, *::before, *::after {
  box-sizing: inherit;
}


/*
- use Franklin Gothic Heavy for the main heading,
and Helvetica Black and Helvetica for the remaining fonts
- use 28px for the root font size
*/
* {
/*outline: 1px solid red;*/
}

body {
  width: 684px;
  height: 1342px;
  font-family: Helvetica, Arial, sans-serif;
}


/*headings*/
h1, h3, h5 {
  margin: 0;
  margin: 0;
}

h1 {
  font-size: 3.4rem;
  /*font-family: "Franklin Gothic Heavy", Arial, sans-serif;*/
  font-family: Courier, Arial, sans-serif;
}

h3 {
  font-size: 1.0rem;
}

h5 {
  font-size: 0.8rem;
  text-align: right;
  border-bottom: 1px solid grey;
}


/*unordered lists*/
ul {
  list-style-type: none; /*no bullets*/
  border-bottom: 10px solid black;
  margin: 0;
  padding-left: 0; /*no indentation*/
}

li {
  margin: 0;
  font-size: 1.2rem;
}


/*descriptive lists*/
dl {
  margin: 0;
}

dt {
  display: inline;
  background-color: lightblue;
  font-weight: bold;
}

td:nth-of-type(1) dl dd {
  margin-left: 0.2rem;
}

dd {
  display: inline;
  margin-left: 0;
  background-color: lightgreen;
}


/*tables*/
table {
  width: 100%;
}

table:nth-of-type(1) {
  border-top: 1px solid gray;
  border-bottom: 5px solid black;
}

table:nth-of-type(3),
table:nth-of-type(7) {
  padding-left: 50px;
}

table:nth-of-type(2),
table:nth-of-type(3) td,
table:nth-of-type(7) tr:last-of-type td {
  border-top: 1px solid gray;
}

table:nth-of-type(3) tr:last-of-type td,
table:nth-of-type(4),
table:nth-of-type(5),
table:nth-of-type(6),
table:nth-of-type(7) tr:last-of-type td {
  border-bottom: 1px solid gray;
}

table:nth-of-type(8) {
  border-bottom: 10px solid black;
}

td {
  font-size: 1.2rem;
}

td:nth-of-type(2) {
  text-align: right;
}
