/*reset all margins and padding*/
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  color: gray;
  font: 16px/32px Helvetica, Arial, sans-serif;
}
*, *::before, *::after {
  box-sizing: inherit;
}

main {
  width: 1000px;
  margin: 8px auto;
  padding: 20px 20px 40px;
  border: 2px solid gray;
}

section:last-of-type {
  position: relative; /*ref position for the last ('.abs_pos') example*/
}

h1, h2, h3, h4, h5 {
  color: darkred;
}

h1 {
  margin: 18px 0;
}
h2, h3 {
  margin: 16px 0;
}
h4 {
  margin-top: 26px;
}
h5 {
  margin: 9px 0 14px;
}
h5:nth-of-type(2),
h5:nth-of-type(3) {
  margin-top: 13px;
}

h1, h2 {
  font-size: 1.5rem;
}
h3, h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.0rem;
}

h2 {
  border-top: 2px dashed black;
  text-align: center;
  padding: 28px 0 3px;
  margin-top: 50px;
}

p {
  /*line height will influence padding/margin for all <p> elems; necessary to */
  /*ctrl spacing w/i multi-line paragraphs*/
  line-height: 35px;
  padding-bottom: 5px;
}

.inline-example {
  width: 650px;
  margin: 40px 45px 41px;
  border: 2px dashed black;
  padding: 22px 30px;
}
h3 + .inline-example {
  margin-top: 41px;
}

.two a {
  margin: 30px; /*specified*/
}

.two, .three, .four {
  margin-bottom: 45px;
}

.three a {
  margin: 0;
  padding: 30px; /*specified*/
}

.three a,
.four a {
  color: white;
  background-color: green;
}

.four {
  overflow: hidden;
}
.four a { /*margins, padding, heights, and widths.*/
  margin: 23px 15px 22px;
  /*l&r padding ignored if 'text-align: center' is used and content fits inside content area*/
  /*padding: 18px 30px 19px;*/
  padding: 17px 20px;
  height: auto;
  width: 120px;
  border: 3px solid darkgreen;
  float: left;
  text-align: center; /*does little if content overflows the content area*/
}
.four a + a { /*all <a>s except the 1st one*/
  margin-left: 15px;
}
.four {
  padding-bottom: 23px;
}

.block-example {
  margin: 20px 0 16px;
  line-height: 19px;
  color: white;
}

.eleven {
  background-color: blue;
}

.twelve {
  height: 60px; /*specified*/
  background-color: green;
}

.thirteen {
  width: 90px;
  letter-spacing: .025rem;
  background-color: red;
}

.fourteen {
  width: 180px;
  height: 120px;
  background-color: pink;
}

.twelve,
.fourteen {
  padding: 20px; /*specified*/
  margin: 20px; /*specified*/
}

.floated-left {
  float: left;
  background-color: blue;
}

.floated-right {
  float: right;
  background-color: darkred;
}

.fifteen,
.sixteen {
  margin: 10px 0 35px;
  overflow: hidden;
}

.fifteen > div {
  border: 1px solid red;
}

.sixteen > div {
  padding: 26px;
  height: 70px;
  text-align: center;
}
.sixteen > div:first-of-type {
  background-color: darkred;
  width: 40%;
}
.sixteen > div:last-of-type {
  background-color: blue;
  width: 50%;
}

.seventeen {
  margin-bottom: 20px;
}
.seventeen > a {
  background-color: blue;
  display: block;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

nav {
  margin: 0 auto;
  padding: 40px 79px;
}
.twentyone > a {
  width: 180px;
  color: white;
  background-color: blue;
  display: inline-block;
  text-align: center;
  padding: 15px 0;
  margin: 0 8px;
}

.box {
  padding: 40px;
  margin: 0px;
  color: white;
  line-height: 20px;
  font-weight: bold;
  /*display: block; autom for floated elems*/
  text-align: center;
}
.box1 {
  float: left;
  width: 47%;
  background-color: red;
}
.box2 {
  float: right;
  width: 53%;
  background-color: blue;
}
.box3 {
  clear: both;
  padding: 15px;
  margin-bottom: 35px;
  width: 100%;
  background-color: green;
}

p + p {
  margin-top: 20px;
}

pre {
  line-height: 19px;
}
.pretext {
  margin: 37px 0;
}

ul {
  font-style: italic;
  padding: 15px 80px 20px;
}
ul li {
  line-height: 29px;
}

.fixed_pos {
  width: 225px;
  padding: 26px 60px;
  position: fixed;
  bottom: 50px;
  left: 35px;
  background-color: blue;
  z-index: 16;
}

.rel_pos {
  width: 325px;
  padding: 26px 60px;
  margin: 25px 0 24px;
  position: relative;
  top: 39px;
  right: 90px;
  background-color: red;
  z-index: 32;
}

.abs_pos {
  width: 200px;
  padding: 26px 40px;
  position: absolute;
  bottom: 121px;
  left: 230px;
  background-color: green;
  z-index: 128;
}

.fixed_pos,
.rel_pos,
.abs_pos {
  font-weight: normal;
  line-height: 18px;
  border-radius: 10px;
}

.shallow > * {
  z-index: 64;
  position: relative;
}
