@import url("../../../../whitespace-reset.css");

* {
  box-sizing: border-box;
}

body {
  font: normal 18px 'Nunito', Arial, sans-serif;
  line-height: 23px;
  color: #45494d;
  background: url("bg_body.gif") repeat;
}

header, main, footer {
  width: 1000px;
  margin: 0 auto; /*center horiz*/
}

header {
  padding-top: 70px;
  height: 495px;
}

header h1 {
  padding-top: 425px;
  background: url("logo.png") no-repeat;
  background-position: center;
}

main {
  background-color: white;
  padding: 110px 90px 0px;
}

h2, h3, p {
  text-align: center;
  line-height: 28px;
}

h2, h3 {
  padding-bottom: 30px;
}

h3, p {
  color: #3e98b2; /*bluegray*/
}

h2 {
  font-size: 36px;
  color: #45494d;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 800;
}

p {
  width: 820px; /*fudged*/
  font-size: 19px; /*fudged*/
  font-weight: 600;
  letter-spacing: .01rem; /*fudged*/
}

section:nth-of-type(1) p {
  /*height: 90px; can't use height w/ padding*/
  padding-bottom: 170px;
}

section:nth-of-type(2) p {
  /*height: 104px; can't use height w/ padding*/
  padding-bottom: 60px;
}

footer {
  padding-top: 2px;
  margin-bottom: 145px;
  background-color: #e7e7e7; /*lightgray*/
}

ul {
  list-style-type: none;
  height: 120px; /*req'd for vert spacing*/
  padding: 0 180px;
  display: flex;
  /*justify-content: space-evenly; doesn't work*/
  /*justify-content: center; doesn't work either*/
  align-items: center;
}

li {
  flex: 1;
}

li a {
  padding: 0 82px;
  height: 50px; /*req'd for vert spacing*/
}
