/*use 'border-box' for box sizing*/
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}


/*reset all margins and padding*/
* {
  margin: 0;
  padding: 0;
}


/*set the font; set the text and b/g colours*/
html {
  font: normal 21px Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
}


/*<body> is a container, used to center the <section>*/
body {
  display: flex;
  justify-content: center;
}

/*section is a columnar container*/
section {
  /*min-width: 500px;* step2*/
  max-width: 1000px;
  background-color: #2f2f2f; /*darkgray*/

  /*display: flex; step6*/
  /*flex-direction: column; step6*/
  /*justify-content: center; step6*/
  align-items: center;

  /*step6*/
  display: grid;
  grid-template-areas:
    "header"
    "figure"
    "nav";
  justify-items: center;
}
@media (min-width: 1280px) { /*step6*/
  section {
    grid-template-areas:
      "header header"
      "figure nav";
    align-items: start;
    max-width: none;
    width: 100%; /*hinted at*/
  }
}

header {
  margin-top: 2.2rem;
  grid-area: header; /*step6*/
}

figure {
  margin: 1rem;
  justify-self: center; /*n/r?*/
  grid-area: figure; /*step6*/
}
@media (min-width: 1280px) { /*step6*/
  figure {
    width: 950px;
  }
}

img {
  width: 100%;
}

/*place the border on the img, in order to place the caption outside the border*/
figure img {
  border: 0.75rem solid white;
}

figcaption {
  display: block;
  padding-top: 5px;
  font-size: 0.8rem;
}

nav {
  margin: 0.4rem 1rem 2.1rem 1rem;
  grid-area: nav; /*step6*/
}
@media (min-width: 1280px) { /*step6*/
  nav {
    margin: 1rem 1.7rem 0 2.2rem;
  }
}

ul {
  list-style-type: none;
  /*display: flex; step3*/
  /*flex-direction: row; step3*/
  /*justify-content: space-between; step3*/

  /*step3*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
@media (min-width: 1280px) { /*step6*/
  ul {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }
}
@media (max-width: 899px) { /*step4*/
  ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 599px) { /*step5*/
  ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

li {
  /*margin-bottom: 15px; step3, n/r due to grid-gap*/
}

/*select every list item except the 1st one*/
li + li {
  /*margin-left: 30px; step3, n/r due to grid-gap*/
}

/*thumbnail images*/
li img {
  box-sizing: border-box;
  border: 4px solid white;
}
