@import url("whitespace-reset.css");

* {
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

body {
  font: normal 18px "Roboto Condensed", sans-serif;
  line-height: 23px;
  color: #3e606f;
}

section {
  width: 1100px;
  background: linear-gradient(to bottom, #d1dbbd, #fcfff5);
  background-repeat: no-repeat;
}

h1, h2, p {
  font-weight: normal;
}

header {
  width: 960px;
  padding: 20px 20px 0 20px;
  margin: 0 auto;
  overflow: hidden;
}

h1 {
  padding: 50px 0 45px 110px;
  font-size: 36px;
  color: #193441;
  background: url("logo.png") no-repeat;
  float: left;
}

nav {
  float: right;
  padding-top: 75px;
}

li {
  display: inline-block;
  background-color: white;
  /*padding: 15px 40px;*/
  padding: 11px 40px 11px;
  border-radius: 10px 10px 0 0;
}

li a {
  color: #91aa9d;
  text-decoration: none;
}

li.active {
  background-color: #91aa9d;
}
li.active a {
  color: white;
}

main {
  background-color: white;
  width: 960px;
  margin: 0 auto;
  padding: 30px;
  overflow: hidden;
  box-shadow: 0px 5px 5px #b5b5b5;
}

h2 {
  font-size: 32px;
  padding: 40px 0 30px;
}

main p {
  padding-bottom: 20px;
}

figure {
  float: right;
  padding-left: 30px;
}

footer {
  width: 960px;
  padding: 20px 0 40px;
  margin: 0 auto;
}

footer p {
  font-size: 14px;
}
